[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arvo = "*"
music21 = "*"
python-fire = "*"
jupyter = "*"
ipython = "*"
pygame = "*"  # needed for music21 py-native midi

[dev-packages]
pytest = "*"
pudb = "*"
ipdb = "*"
